*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    padding-top: 130px;
    font-size: 35px;
    text-align: center;
}

.line {
    width: 65px;
    height: 4px;
    border-radius: 4px;
    background-color: blue;
    margin: 10px auto 60px auto;
    
}
/*//////////////////////////// header ////////////////////////////*/

.header {
    height: 55px;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 10;
    position: fixed;
}

.logo {
    margin-left: 90px;
    height: 55px;
    float: left;
}

.options {
    float: right;
    margin-right: 60px;
}

.options li {
    list-style: none;
    display: inline-block;
    padding-top: 17px;
    margin-right: 30px;
    position: relative;
}

.options li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: capitalize;
}

.options li .aa::after {
    position: absolute;
    content: "";

    width: 0;
    height: 3px;

    bottom: 0;
    left: 0;

    transition: 0.5s;

    text-decoration-thickness: 2px;
    background-color: white;
}

.options li .aa:hover::after {
    width: 100%;
}

#homechoice {
    text-decoration: underline;
    text-decoration-color: #fff;
    text-decoration-thickness: 2px;
    text-underline-offset: 1.5px;
}

/* #blogchoice:hover {
    
} */

/*//////////////////////////// welcome ////////////////////////////*/

.welcome {
    background-image: url(../images//background2.jpg);
    height: 100vh;
    width: 100%;
    text-align: center;
    color: white;
}

h1{
    padding-top: 20%;
    font-size: 55px;
}

.welcomeNote {
    font-size: 20px;
}

.welcome button{
    height: 50px;
    width: 135px;
    border-radius: 7px;
    border-style: none;
    margin: 10px 5px;
    font-size: large;
}

#right{
    background-color: blue;
    color: #ffff;
}

.welcome button:hover {
    opacity: 0.6;
}

/*//////////////////////////// offers ////////////////////////////*/

.offer-container {
    width: 100%;
    height: 700px;
}

.offer {
    width: 80%;
    margin: auto;
}

.offers div {
    border: #888 solid 1px;
    width: 30%;
    height: 230px;
    float:left;
    margin: 0px 5% 0px auto;
    text-align: center;
    position: relative;
    transition: 0.5s;
}

.offers div::after {
    position: absolute;
    content: "";

    height: 0;
    width: 0;

    top: 0;
    left: 0;

    transition: 0.5s;
    background-color: #333;
    z-index: -1;
}

.offers div:hover::after {
    height: 100%;
    width: 100%;
}

.offers div:hover {
    color: ivory;
}

.offers #last {
    margin: 0px;
}

.offers .icon {
    font-size: 45px;
    margin-top: 30px;
    color: #6495ed;
}

.offers h2 {
    margin: 10px 0;
}

.offers p {
    color: #889;
    letter-spacing: 2px;
    word-spacing: 1px;
    margin: 15px 0;
}

.offers a {
    color: rgb(100, 148, 237);
    text-decoration: none;
}

/*//////////////////////////// featured ////////////////////////////*/

.featured-container {
    width: 100%;
    height: 1100px;
    background-color: rgb(231, 229, 229);
    margin: auto;
}

.featured-content {
    width: 85%;
    margin: auto;
}

.featured-item {
    width: 18%;
    margin: 0px 7.667% 70px 7.667%;
    float: left;
    text-align: center;
    position: relative;
}

.featured-info {
    margin-top: 125px;
}

.featured-item span {
    display: block;
    color: #6495ed;
}

.featured-item h3 {
    margin: 9px 0;
}

.featured-item i {
    margin: 0 2px;
    font-size: 25px;
    color: #6495ed;
}

.featured-item img {
    width: 100%;
}

.featured-overlay {
    position: absolute;
    top: 0;

    height: 100%;
    width: 100%;

    color: ivory;
    background-color: rgba(0, 0, 0, 0.7);

    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.featured-item:hover .featured-overlay {
    visibility: visible;
    opacity: 1;
}

/*//////////////////////////// genres ////////////////////////////*/

.genres-container {
    width: 100%;
    margin: auto;
}

.genre-content {
    height: 500px;
    width: 80%;
    margin: auto;
}

.genre-content .start {
    border: #888 solid 1px;
    width: 30%;
    height: 180px;
    float: left;
    margin-bottom: 30px;
    position: relative;
    transition: 0.5s;
}

.genre-content .mid {
    border: #888 solid 1px;
    width: 30%;
    height: 180px;
    float: left;
    margin-left: 5%;
    margin-bottom: 30px;
    position: relative;
    transition: 0.5s;
}

.genre-content i {
    position: absolute;
    font-size: 30px;
    color: #6495ed;
    top: 20px;
    left: 20px;
    right: 20px;
}

.genre-content .info {
    margin-left: 75px;
}
.genre-content h2 {
    font-size: 25px;
    margin: 20px 0px 10px 0;
}

.genre-content .info p {
    font-size: 17px;
    color: #889;
}

.genre-content .start::after {
    position: absolute;
    content: "";

    height: 0;
    width: 0;

    top: 0;
    left: 0;

    transition: 0.5s;
    background-color: #333;
    z-index: -1;
}

.genre-content .start:hover::after {
    height: 100%;
    width: 100%;
}

.genre-content .start:hover {
    color: ivory;
}

.genre-content .mid::after {
    position: absolute;
    content: "";

    height: 0;
    width: 0;

    top: 0;
    left: 0;

    transition: 0.5s;
    background-color: #333;
    z-index: -1;
}

.genre-content .mid:hover::after {
    height: 100%;
    width: 100%;
}

.genre-content .mid:hover {
    color: ivory;
}

/*//////////////////////////// advantages ////////////////////////////*/

.advantages-container {
    width: 100%;
    height: 600px;
    background-color: rgb(231, 229, 229);
}

.advantages-content {
    width: 80%;
    margin: auto;
}

.adv-title {
    padding-top: 80px;
    font-size: 35px;
}

.adv-line {
    width: 65px;
    height: 4px;
    border-radius: 4px;
    background-color: blue;
    margin-top: 10px;
    margin-bottom: 50px;
}

.advantages-info {
    float: left;
}

.advantages-info ul {
    list-style: none;
}

.advantages-info li {
    color: #6495ed;
    margin-top: 15px;
}

.advantages-info span {
    color: #889;
}

.advantages-img {
    margin: 80px 0 0 50px;
    float: left;
}

.advantages-img img {
    width: 350px;
}

.advantages-img .first {
    color: #6495ed;
    margin-left: 170px;
    font-size: 30px;
}

.advantages-img .after {
    font-size: 30px;
    margin-left: 190px;
    margin-top: -34.25px;
}

.advantages-img .last {
    font-size: 30px;
    margin-left: 210px;
    margin-top: -34.5px;
}

.advantages-img li {
    color: #889;
}

.advantages-img li:hover {
    color: #6495ed;
}

/*//////////////////////////// perks ////////////////////////////*/

.perks-container {
    width: 100%;
    background-image: url(../images/background1.jpg);
    background-attachment: fixed;
}

.perks-content {
    width: 100%;
    height: 400px;
    margin: 0px auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.perks-content div {
    float: left;
    width: 15%;
    margin: 125px 5% 0 5%;
    text-align: center;
}

.perks-content i {
    font-size: 40px;
    color: #6495ed;
    margin: 15px 0;
}

.perks-content h2 {
    color: ivory;
    font-size: 30px;
}

.perks-content p {
    color: ivory;
}

/*//////////////////////////// premium ////////////////////////////*/

.premium-container {
    width: 100%;
    height: 700px;
    background-color: rgb(231, 229, 229);
}

.premium-content {
    width: 70%;
    margin: auto;
}

.premium-content .choice {
    position: relative;
    margin: auto;
    float: left;
    width: 25%;
    border: #888 solid 1px;
    text-align: center;
    border-radius: 10px;
}

.premium-content .spaces {
    margin: 0 12.5% 0 0;
}

.premium-content .plan {
    color: #889;
    margin: 30px 0 30px 0;
    font-size: 18px;
}

.premium-content .price {
    border: #6495ed solid 2px;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.premium-content h3 {
    font-size: 50px;
    margin-top: 7px;
}

.premium-content span {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 550;
}

.premium-content ul {
    list-style: none;
    margin-top: 25px;
}

.premium-content li {
    color: #889;
    text-align: center;
    margin-bottom: 10px;
}

.premium-content button {
    background-color: #fff;
    border: #6495ed solid 2px;
    width: 120px;
    height: 30px;
    margin: 10px 0 20px 0;
    border-radius: 10px;
}

.premium-content .choice::after {
    position: absolute;
    content: "";

    height: 0;
    width: 100%;

    top: 0;
    right: 0;

    background-color: black;
    border-radius: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.premium-content .choice:hover::after {
    width: 100%;
    height: 100%;
}

.premium-content .choice:hover .plan {
    color: red;
}

.premium-content .choice:hover .price {
    color: red;
    transition: 0.5s;
}

/*//////////////////////////// new ////////////////////////////*/
.new-container {
    width: 100%;
    height: 900px;
}

.new-content {
    width: 80%;
    margin: auto;
}

.discount {
    position: relative;
    float: left;
    width: 25%;
    background-color: rgb(231, 229, 229);
    margin-top: 20px;
}

.news {
    position: relative;
    float: left;
    width: 30%;
    height: 590px;
    background-color: rgb(231, 229, 229);
    margin: 0 10% 0 10%;
    color: #889;
}

.discount img {
    width: 90%;    
    margin-left: 5%;
    margin-top: 10px;
}

.news img {
    width: 100%;
}

.description {
    padding: 10px;
}

.news a {
    text-decoration: none;
    color: #6495ed;
    padding: 0 0 0 10px;
}

.fifa-overlay {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 205px;
    margin-top: -205px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.news:hover .fifa-overlay {
    opacity: 0.5;
    visibility: visible;
}

.discount img {
    margin-bottom: 30px;
}

.dis-inc img {
    height: 170px;
}

.discount i {
    color: #6495ed;
    font-size: 13px;
    margin-left: 7px;
}

.discount span {
    font-size: 13px;
}

.discount h2 {
    margin: 20px 0;
    text-align: center;
    font-size: 40px;
    color: orange;
}

.discount p {
    text-align: center;
    margin-bottom: 10px;
    color: #889;
}

.discounted {
    font-size: 25px;
}

.discount button {
    margin: 208px 0 0 150px;
    width: 80px;
    height: 25px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: orange;
    opacity: 0;
    transition: 1s;
}

.discount:hover button {
    opacity: 0.75;
}

.discount-overlay {
    position: absolute;

    top: 0;

    height: 0;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;

    transition: 1s;
}

.discount:hover .discount-overlay {
    visibility: visible;
    height: 100%;
}

/*//////////////////////////// break ////////////////////////////*/

.break-container {
    width: 100%;
    background-image: url(../images/background-3.jpg);
    background-attachment: fixed;
}

.break-content {
    width: 100%;
    height: 300px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.break-content .all {
    float: left;
    width: 30%;
    margin: 100px 0 0 15%;
    position: relative;
}

.all img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;

    top: 5px;
    left: 5px;
}

.all .img {
    margin: auto;
}

.all .info {
    color: ivory;
    margin: 20px 0 0 90px;
}

.all .info p {
    color: #6495ed;
    margin-top: 5px;
    font-size: 14px;
}

.break-content .description {
    color: ivory;
    margin: 20px 0 0 10px;
}

/*//////////////////////////// team ////////////////////////////*/

.team-container {
    width: 100%;
    height: 700px;
}

.team-content {
    width: 70%;
    margin: auto;
}

.team-member {
    position: relative;
    width: 30%;
    float: left;
    background-color: #c5c1c1;
}

.member-mid {
    margin: 0 5%;
}

.team-member img {
    width: 100%;
}

.team-member .img {
    position: relative;
    width: 85%;
    margin: 15px auto 20px auto;
}

.team-member .img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden; 
}

.team-member .img-overlay i {
    color: ivory;
    background-color: #6495ed;
    font-size: 30px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    display: block;
    margin-bottom: 3px;
    margin-left: auto;
}

.team-member .img-overlay a {
    text-decoration: none;
}

.team-member .info {
    text-align: center;
    margin-bottom: 15px;
}

.team-member .info p {
    margin-top: 10px;
    color: #889;
}

.team-member::before {
    position: absolute;
    content: "";

    width: 100%;
    height: 0;

    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
}

.team-member:hover::before {
    width: 100%;
    height: 100%;
}

.team-member:hover .img-overlay {
    visibility: visible;
}

.team-member:hover .info h3 {
    color: ivory;
    transition: 0.5s;
}

.team-member:hover .info p {
    color: blue;
    transition: 0.5s;
}

/*//////////////////////////// footer ////////////////////////////*/

.footer {
    width: 100%;
    height: 250px;
    background-color: #333;
    text-align: center;
}

.footer img {
    width: 150px;
    margin-top: -20px;
}

.footer a {
    text-decoration: none;
    margin-right: 3px;
}

.footer i {
    background-color: #6495ed;
    color: ivory;
    font-size: 25px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
}

.footer p {
    margin-top: 15px;
    font-size: 12px;
    color: #889;
    text-transform: uppercase;
}